/*---------------------login.html-----------------------*/
.wrap{width:1034px; 
    height:1000px;
    margin:0 auto;
    background-color: #f6f6f6;
    }
    
    .header{
    padding:18px 0px;
    text-align:center;
    background :#000;
    color:#fff;
    font-size:20px;
    font-family: '나눔고딕';
    font-weight: bold;
    }
    .main{
        height:700px;
        width:562px;
        background : #F6F6F6;
        margin: 0 auto;
    }
    .main .content .login_box{
        width:580px;
        height:120px;
        margin : 0 auto;
        margin-top: 30px;
    }
    .main .content .info_box{
        width:580px;
        height:180px;
        margin : 0 auto;
        margin-top: 60px;
    }

    .main .content .login_box .id_box #userid,
    .main .content .login_box .pw_box #pw, 
    .main .content .login_box .pwcheck_box #pwcheck,
    .main .content .info_box .name_box #name,
    .main .content .info_box .age_box #age,
    .main .content .info_box .phone_box #phone,
    .main .content .info_box .email_box #email{
        width:538px;
        height:22px;
        padding:10px;
    }
    .main .content .login_box .ipText
    .main .content .info_box .ipText{
        width:100%;
        height:22px;
        font-size:14px;
        font-weight:bold;
    }
    .noti_type02 {
        clear: both;
        display: block;
        margin-top: 8px;
        color: #acacac;
    }
    
    .main .content .button a{
        width:562px; height:25px;
        display:block;
        border : 1px solid blue;
        background: #333;
        text-align:center;
        font-size:16px;
        font-weight:bold;
        color:#fff;
        margin-top:10px;
        padding: 8px 0px;
        border: 3px;
        
    }

    .login_footer{
    text-align:center;
    color:#acacac;
    background:#fff;
    border-top:1px solid #f0f0f0;
    margin-top:30px;
    font-size:12px;
    }
    /*——————————login.html———————————*/