html,
body{
    height:100%;
}
.top_header,
.header_wrapper,
.main,
.footer{
    width:980px;
    margin : 0 auto;
}
.container{
height:100%;

margin:0 auto;
background:url("../images/bg2.jpg") no-repeat 0 0; background-size:cover;
}
.container .top_header{

text-align:right;
padding:6px;
color :  #a8a8a8;
font-family: 'Noto Sans KR', sans-serif;
}
.container .top_header_in .top_header {}
.container .top_header_in .top_header  a{
margin:0 5px;
}
.container .header_wrapper .sns{
text-align:right;
margin-top:20px;
}
.top_header_in{background-color :#1e1d1d;}

.header_wrapper {position:relative; top:0; left:0;}
.header_wrapper .header_menu{
position: absolute;
top:160px;
margin-left:300px;
font-family: 'Do Hyeon', sans-serif;
} 
.header_wrapper .header_menu ul li{display:inline-block;
margin:0 9px;
color:#a8a8a8; 
}
.main .slide .cycle-slideshow{margin-top:50px;}
.main .slide .four_picture .imges{}
.main .title{text-align:center; margin-top:20px;}
.main .title2{text-align:center;}
.main #smtm777{ margin-left:400px;}
.main .two_list{margin-top:60px; }
.footer .address{clear: both; display: block; font-size: 11px; line-height: 18px; color: #9b9b9b; margin-left: 202px; font-family: 'Noto Sans KR', sans-serif; font-style: normal;}
.footer .address .copyright {color: #a1a1a1; font-size: 11px; margin-top: 10px;}